<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Content input ----------------------------------------------------------------------->
        <form action="/adjustmentPrice" method="post">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card mb-4">
                        <h5 class="card-header">Nhập : Điều chỉnh giá vốn</h5>
                        <div class="card-body">
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Mã
                                    Hàng</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaLK" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Giá Bán Lẻ</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="GiaBanLe" id="html5-text-input" />
                                </div>
                            </div>
                            <div>
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-outline-danger">Chỉnh Sửa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- / Content -->
        <!-- Content table ----------------------------------------------------------------------->
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>MÃ HÀNG</th>
                                        <th>TÊN HÀNG</th>
                                        <th>GIÁ BÁN LẺ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let key in result) { %>
                                        <tr>
                                            <td>
                                                <i class="fab fa-angular fa-lg text-danger me-1"></i>
                                                <strong>
                                                    <%= result[key].MaLK %>
                                                </strong>
                                            </td>
                                            <td>
                                                <%= result[key].TenLK %>
                                            </td>
                                            <td><i>
                                                    <%= result[key].GiaBanLe %>
                                                </i></td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->
</div>